body {
  margin: 0;
  font-family: "Times New Roman", serif;
  background-color: #f5efdc;
}

header {
  background-color: #d9c2dc;
  border-bottom: 2px solid #3b2a3b;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

header img {
  width: 70px;
  margin-right: 20px;
}

header h1 {
  margin: 0;
}

header p {
  margin: 3px 0 0 0;
}

nav {
  background-color: #4a148c;
  text-align: center;
}

nav a {
  display: inline-block;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background-color: #4be3a6;
  color: black;
}

.hero {

  /* background-color: #7e57c2; */
  color: white;
  text-align: center;
  padding: 80px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.433), rgba(0, 0, 0, 0.536)), url(https://www.kiet.edu/_next/image/?url=%2Fassets%2Fimages%2Fkiet%2Fmain%2Fnew%2FWEB%20Banner.webp&w=3840&q=75&dpl=dpl_Aa5kQpUMDyFfkcsJM5u7K7e145SH);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 9;
}

.hero h2 {
  font-size: 36px;
  margin: 0 0 10px 0;
}

section {
  padding: 25px 40px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 15px;
  background-color: #d9c2dc;
  border: 2px solid #3b2a3b;
  box-shadow: 5px 5px 10px gray;
}

footer {
  background-color: #4a148c;
  color: white;
  text-align: center;
  padding: 5px;
}